region       = "atl1"
project_name = "slinky-poc"

# gpu_vendor         = "amd"
# gpu_node_size      = "gpu-mi325x1-256gb"
# gpu_node_count     = 2
# vpc_cidr           = "10.100.32.0/20"
# k8s_version        = "1.34.1-do.5"
# cluster_subnet     = "10.156.0.0/16"
# service_subnet     = "10.157.0.0/16"
# mgmt_node_size     = "c-4"
# mgmt_node_count    = 3
# db_size            = "db-s-1vcpu-2gb"
# db_node_count      = 1
# db_name            = "slurm_acct"
# db_user            = "slurm"
# db_mysql_auth_plugin = "caching_sha2_password"
# nfs_size_gib         = 1024
# nfs_performance_tier = "standard"
